@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500;600;700&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px #000;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__title {
  color: gray;
  margin-bottom: 10px;
}

.header__link {
  color: gray;
  font-weight: bold;
  padding-right: 24px;

  &:hover {
    color: #0099f9;
    text-decoration: none;
  }
}

.app_header > .info {
  background: transparent;
  box-shadow: none;
}

#sidebar {
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.6) 0 1px 3px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

#top_quakes_inputs {
  height: auto;
  margin-bottom: 5px;
}

#top_quakes {
  max-height: 50vh;
  overflow: auto;
}

.quake-element {
  margin: 1px;
}

.quake-container {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
  border-bottom: solid gray 1px;

  h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
  }

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
  }

  &:hover {
    background-color: gainsboro;
    cursor: pointer;
  }
}

.quake-metadata {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

#map,
#content {
  border-radius: 10px;
  margin-right: 10px;
}

#footer {
  padding-left: 5px;
  text-align: center;
}

#app_header {
  padding: 12px 10px;
  justify-content: center;
  align-items: center;
}

.app_header_vertical_separator {
  background: #c1c7cd;
  margin: 10px 0;
  height: calc(100% - 20px);
}

.app_header_title {
  user-select: none;
  color: #4d5358;
  font-family: 'Maven Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn-cta {
  color: white !important;
  font-size: 14px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  justify-content: center;
}

.cta-icon {
  background: transparent !important;
  border: none;
  color: #0099f9 !important;
}

@media (max-width: 1024px) {
  .app_header_vertical_separator {
    background: #c1c7cd;
    margin: 10px 0;
    height: 1px;
  }

  .app_header.mobile-collapsed {
    padding: 12px 24px 12px 0;
  }

  .app_header_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #040a3c;
  }

  #app_header.mobile-expanded .mobile-toggled,
  #app_header.mobile-expanded .header_collapse {
    display: flex !important;
  }

  #app_header.mobile-expanded .header_expand {
    display: none !important;
  }

  #app_header.mobile-collapsed .mobile-toggled,
  #app_header.mobile-collapsed .header_collapse {
    display: none !important;
  }

  #app_header.mobile-collapsed .header_expand {
    display: flex !important;
  }
}
