
#sidebar {
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.6) 0px 1px 3px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
}
#top_quakes_inputs {
  height: auto;
  margin-bottom: 5px;
}
#top_quakes {
  max-height: 50vh;
  overflow: auto;
}
.quake-element {
    margin: 1px;
}
.quake-container {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
  border-bottom: solid gray 1px;
}
.quake-container h3{
    margin: 0;
    font-size: 13px;
    font-weight: 700;
}
.quake-container p {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
}
.quake-metadata{
    display: flex;
    wrap: nowrap;
    gap: 5px;
}
.quake-container:hover {
    background-color: gainsboro;
    cursor: pointer;
}
#map, #content {
  border-radius: 10px;
  margin-right: 10px;
}
#footer{
  padding-left: 5px;
  text-align: center;
}